.leftMargin{
    margin-left: 2vw;
}
#barOne{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction:column;
   background-color: lightgreen;
   padding: 1vh;
   /* width:100vw; */
}

#logo{
    height: 15vh;
    width: 25vh;
    margin-left: 2vw;
}
.logoImg{
    height: 4vh;
    width: 2vw;
    padding:1vh 1.5vw;
}
#logoCenter{
    text-align: center;
    margin: 2vh;
    background-color: lightgreen;
    
}

#test{

}
/* #dropdown{
    float: right;
    margin: 3vh 5vw;
} */
#dropdownUL{
  list-style-type: none;
  position: absolute;
  left: 85vw;
  top:10vh;
  background-color:hwb(0 0% 0% / 0.852);
}
.hiddenLI{
    display: none;
   
}
#visibleLI{
    color:white;
    width:5vw;
    height:5vh;
    text-align:center;
    font-size: 3vh;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
}
.hiddenLI a{
    text-decoration: none;
    color: white;
}
#dropdownUL:hover .hiddenLI{
   display: block;
   margin:1vh;
   cursor: pointer;
   /* z-index: 1; */
}
.hiddenLI:hover{
    background-color: orange;
}




#hashtag{
    font-weight: 300;
}
.BigFont{
font-size: 7vh;
}
#search{
    width: 25vw;
    height: 3vw;
    margin-bottom: 3vh;
}

#thirdBar{
    background-color: beige;
    padding-left: 2vw;
    /* width:100vw; */
}

.cardContainer{
display: flex;
justify-content: center;
/* background-color:azure; */
/* background-color:antiquewhite; */
/* background-color:papayawhip; */
background-color: peachpuff;
/* width:100vw; */

}

.card{
   border:1px solid;
   height:20vh;
   width:20vw;
   border-radius: 20px;
   margin:5vh 5vw;
   text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background-color: lightslategrey;
   transition-property: all;
   transition-duration: 1s;
}

.card:hover{
    background-color: black;
transform: scale(1.2,1.2);
}

.card:hover .cardtext{
color:antiquewhite;
}

.cardText{
     font-size: 3vh;
     font-weight: bolder;
     color:antiquewhite;;
}

#submitProject{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    background-color: lightcyan;
    /* width:100vw; */
}

#ProjectDescription{
    font-size: 2.5vh;
    line-height: 4vh;
}

.submitProject{
    margin-top: 2vh;
}

#submitProjectBtn{
    width:15vw;
    height: 5vh;
    font-size: 2vh;
    background-color: lemonchiffon;
}

#NoDisplay{
    display: none;
}


#Display{
    display: block;
}

#ninjaLOGO{
    height: 40vh;
    width:30vw;
    margin-top: 5vh;
}

#footer{
    background-color: lightgreen;
    width: 98vw;
}

#footerContent{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.listContainer{
    width: 980vw;
    text-align: center;
}
    
.list{
     margin:-1vh 3vw;
       color: black;
}

.listText{
        margin-top:-1vh;
}
